
  <hr>

  <div [ngStyle]="{
    'background': config.fondo,
    'padding': '20px',
    'border': '5px solid',
    'border-color': config.color
  }">
    <h1>Bienvenido a: {{title}}!</h1>
    <p>{{ descripcion }}</p>
    <app-cursos></app-cursos>

    <zapatilla></zapatilla>
    <!--
      si mostrar_videojuegos es true,
      (*ngIf="mostrar_videojuegos"),
      recive valor false y oculta.
    -->
    <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">
      Ocultar
    </button>
    
    <!--
      si mostrar_videojuegos es false,
      (*ngIf="!mostrar_videojuegos"),
      recive valor true y muestra.
    -->
    <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">
      Mostrar
    </button>

    <!--Directiva condicional
      si mostrar_videojuegos es true,
      muestra.
    -->
    <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  </div>