/*Regla que permite cargar fuentes externas*/
@font-face{
    font-family: "yanone";
    src: url('../fonts/yanone.ttf');
}
@font-face{
    font-family: "finger";
    src: url('../fonts/finger.ttf');
}
@font-face{
    font-family: "titilium";
    src: url('../fonts/titilium.ttf');
}

/* Generals */
*{
    margin: 0%;
    padding: 0%;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    font-family: 'yanone', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url('../img/pattern.png');
    background-attachment: fixed;
}

/* NavBar / Header */

header{
    display: block;
    width: 100%;
    height: 90px;
    background-color: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: inherit;
    margin: 0px auto;
    margin-top: 0px;
}

header .nav li{
    display: inline-block;
    /*margin: 0px auto;*/
    text-align: center;
    line-height: 90px;
}

header .nav a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header .navPhone{
    display: none;
}
header .navPhone li{
    display: none;
}

header a:hover, .actived{
    background: rgba(0, 0, 0, 0.8);
}

/* Logo */

#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}

#logo a:hover{
    background-color: transparent;
    color: black;
    transform: scale(1.50,1.50);
}

/* Contenedor principal */
#content{
    min-height: 700px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background-color: rgba(230, 230, 230, 0.7);
    padding-top: 120px;
}

/* Footer */
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}


/*
.nav .about-me{
    width: 15%;
}
*/
/*MediaQuery*/
@media(min-width: 624px){
    
    #header{
        min-height: 90px !important;
    }
    .navPhone{
        display: none;
    }
    #content{
        padding-top: 90px !important;
    }
}
@media(max-width: 1228px){
    header .nav{
        width: 75%;
    }
}
@media(max-width: 623px){
    /* 
    Misura di smartphone e tablet.
    Si deve collapsare in un tasto toggle
    */
    header{
        min-height: 260px;
        position: fixed;
        /*top: 270px;*/
    }
    header .nav{
        display: flex;
        justify-content: center;
        align-items: initial;
        flex-flow: column-reverse;
        width: 35%;
        top: 0px;
    }
    .nav .link{
        display: none;
    }
    header .navPhone{
        width: 100%;
        height: auto;
        margin: 0px auto;
        display: block;
        transition: all 300ms;
    }
    .navPhone .linkPhone{
        width: 30%;
        height: 40px;
        flex-grow: 1;
        line-height: 40px;
        margin: 0px auto;
        text-align: center;
        list-style: none;
    }
    .navPhone .linkPhone a{
        display: block;
        text-decoration: none;
        font-style: normal;
        color: white;
    }
    header .navPhone li{
        display: block;
    }
    #logo{
        order: 1;
        display: block;
    }

    #content{
        padding-top: 280px;
    }
}
