/*Regla que permite cargar fuentes externas*/
@font-face{
    font-family: "yanone";
    src: url('../fonts/yanone.ttf');
}
@font-face{
    font-family: "finger";
    src: url('../fonts/finger.ttf');
}
@font-face{
    font-family: "titilium";
    src: url('../fonts/titilium.ttf');
}

/* Generals */
*{
    margin: 0%;
    padding: 0%;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    font-family: 'yanone', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url('../img/pattern.png');
    background-attachment: fixed;
}

/* NavBar / Header */

header{
    display: block;
    width: 100%;
    height: 90px;
    background-color: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    height: inherit;
    margin: 0px auto;
    margin-top: 0px;
}

header .nav li{
    display: inline-block;
    /*margin: 0px auto;*/
    text-align: center;
    line-height: 90px;
}

header .nav a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header .navPhone{
    display: none;
}
header .navPhone li{
    display: none;
}

header a:hover, .actived{
    background: rgba(0, 0, 0, 0.8);
}

/* Logo */

#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms;
}

#logo a:hover{
    background-color: transparent;
    color: black;
    transform: scale(1.50,1.50);
}

/* Contenedor principal */
#content{
    min-height: 700px;
    height: auto;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background-color: rgba(230, 230, 230, 0.7);
    padding-top: 120px;
}

/* Form Create project */
.container{
    margin: 50px;
    padding-top: 10px;
}
.container .image{
    float: left;
    width: 47%;
}
.container .image img{
    width: 100%;
}
.container .data{
    float: left;
    width: 47%;
    margin-left: 25px;
}

.container h2{
    display: block;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.container form{
    width: 80%;
}

.container form p{
    width: 100%;
}

form label{
    display: block;
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 5px;
}
form textarea,
form input[type="text"],
form input[type="number"]
{
    width: 45%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form button,
form input[type="submit"],
.button-edit,
.button-delete
{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(22, 140, 230, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #555;
    cursor: pointer;
}
.button-edit,
.button-delete{
    width: 40%;
    text-align: center;
    float: left;
    margin: 2%;
    text-decoration: none;
}
.button-edit{
    background-color: goldenrod;
}
.button-delete{
    background-color: darkred;
}
.button-edit:hover{
    background-color: goldenrod;
    border: none;
}
.button-delete:hover{
    background-color: darkred;
    border: none;
}
form button:hover,
form input[type="submit"]:hover{
    background-color: rgba(22, 140, 230, 0.8);
    border: 1px solid rgba(13, 67, 138, 0.8);
}
form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}
/*form span .form_error{
    font-size: medium;
    margin-left: 5px;
}*/
.form_error{
    font-size: medium;
    color: indianred;
    margin-left: 5px;
}
.desc-flex{
    display: flex;
}
.form_error.description{
    display: flex;
    align-items: center;
}
.message{
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.message.success{
    background-color: darkseagreen;
    color: white;
}
.message.failed{
    background-color: indianred;
    color: white;
}
.success a{
    color: white;
}

@media(max-width: 730px){
    .container form{
        width: 80%;
    }
    form textarea,
    form input[type="text"],
    form input[type="number"]
    {
        width: 80%;
    }
    .form_error{
        display: block;
        font-size: medium;
    }
}

/* Pagina de Proyectos */
.container ul{
    width: 80%;
    margin: 0px auto;
}

.project .image{
    width: 100%;
    height: 150px;
    line-height: 220px;
    overflow: hidden;
}

.project{
    list-style: none;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    margin: 0px 20px;
    margin-bottom: 30px;
}
.project img{
    width: 100%;
}
.project a{
    text-decoration: none;
    color: black;
}
.project a:hover{
    text-decoration: underline;
    color: rgba(8, 107, 183, 0.8);
}

/* Footer */
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}


/* MediaQuery Header e logo */
@media(min-width: 624px){
    
    #header{
        min-height: 90px !important;
    }
    .navPhone{
        display: none;
    }
    #content{
        padding-top: 90px !important;
    }
}
@media(max-width: 1228px){
    header .nav{
        width: 75%;
    }
}
@media(max-width: 623px){
    /* 
    Misura di smartphone e tablet.
    Si deve collapsare in un tasto toggle
    */
    header{
        min-height: 260px;
        position: fixed;
        /*top: 270px;*/
    }
    header .nav{
        display: flex;
        justify-content: center;
        align-items: initial;
        flex-flow: column-reverse;
        width: 35%;
        top: 0px;
    }
    .nav .link{
        display: none;
    }
    header .navPhone{
        width: 100%;
        height: auto;
        margin: 0px auto;
        display: block;
        transition: all 300ms;
    }
    .navPhone .linkPhone{
        width: 30%;
        height: 40px;
        flex-grow: 1;
        line-height: 40px;
        margin: 0px auto;
        text-align: center;
        list-style: none;
    }
    .navPhone .linkPhone a{
        display: block;
        text-decoration: none;
        font-style: normal;
        color: white;
    }
    header .navPhone li{
        display: block;
    }
    #logo{
        order: 1;
        display: block;
    }

    #content{
        padding-top: 280px;
    }
    .project{
        width: 100%;
        margin: 0px auto;
        margin-bottom: 30px;
    }
    .project .image{
        /*height: 100%;*/
    }
    .container .data{
        float: left;
        width: 100%;
        margin-left: 0px;
    }
    .container .image{
        width: 100%;
    }
    .button-edit,
    .button-delete{
        width: 33%;
    }

}
