<div class="container">

    <h1>Contacto</h1>

    Size width: 
    <input type="number" [(ngModel)]="widthSliderInput" (keyup.enter)="cargarSlider()"/><!-- (keyup.enter)="cargarSlider()" -->
    <button value="cargar" (click)="cargarSlider()">Upload width</button>
    <button value="reset" (click)="resetWidth()">Reset width</button>
    <div *ngIf="ampiezzaToSlider">
        <slider [ampiezza]="ampiezzaToSlider"
                [caption]="caption" 
                (authorEvent)="getAuthor($event)">
                <!-- Flusso 3: (authorEvent)="getAuthor($event)"
                    Ottiene dati del autore.
                -->

        </slider>
        
        <p>Name: {{author.name}}</p>
        <p>Website: {{author.website}}</p>
        <p>Social: {{author.social}}</p>
        <p>E-mail: {{author.email}}</p>
        
    </div>

</div>