<div class="container">

    <h1>Contacto</h1>

    <div id="texto" #text>
        <p appCustomizable >Contattami per qualsiasi dubbio.</p>
    </div>

    <!-- (keyup.enter)="cargarSlider()" -->
    <!-- 
        Flusso 3: (authorEvent)="getAuthor($event)"
        Ottiene dati del autore, tramite Output.
    -->

    Size width: 
    <input type="number" [(ngModel)]="widthSliderInput" (keyup.enter)="cargarSlider()"/>
    <button value="cargar" (click)="cargarSlider()">Upload width</button>
    <button value="reset" (click)="resetWidth()">Reset width</button>
    <div *ngIf="ampiezzaToSlider">
        <slider [ampiezza]="ampiezzaToSlider"
                [caption]="caption" 
                (authorEvent)="getAuthor($event)">
        </slider>
            
        <p *ngIf="author">Name: {{author.name}}</p>
        <p *ngIf="author">Website: {{author.website}}</p>
        <p *ngIf="author">Social: {{author.social}}</p>
        <p *ngIf="author">E-mail: {{author.email}}</p>
            
    </div>
    
</div>