<header>
  <ul class="nav">
    <li><a [routerLink]="['./about']">About me</a></li>
    <li><a [routerLink]="['./projects']">Projects</a></li>
    <li id="logo"><a href="#">AM</a></li>
    <li><a [routerLink]="['./create']">Create</a></li>
    <li><a [routerLink]="['./contact']">Contact</a></li>
  </ul>
  <span class="clearfix"></span>
</header>

<section id="content">
  <router-outlet></router-outlet>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
  
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit placeat quas atque doloremque
    <br> perferendis necessitatibus dolorem nihil quibusdam, alias, maxime, et cupiditate molestias!
    <br> Temporibus perferendis animi itaque laudantium hic nihil.
  </div>
</section>

<footer>
  Portfolio Adrian Medina &copy;
</footer>