<header id="header">
  <!--<script src="../assets/functions.js" type="text/javascript"></script>-->
    <ul class="nav">
    <li class="link"><a class="about-me" [routerLink]="['./about']" [routerLinkActive]="['actived']">About me</a></li>
    <li class="link"><a class="projects" [routerLink]="['./projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li id="logo" ><a (click)="myFunction();">AM</a></li>
    <li class="link"><a class="create" [routerLink]="['./create']" [routerLinkActive]="['actived']">Create</a></li>
    <li class="link"><a class="contact" [routerLink]="['./contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
  <ul id="nav-phone" class="navPhone">
    <li class="linkPhone"><a class="about-me" [routerLink]="['./about']" [routerLinkActive]="['actived']">About me</a></li>
    <li class="linkPhone"><a class="projects" [routerLink]="['./projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li class="linkPhone"><a class="create" [routerLink]="['./create']" [routerLinkActive]="['actived']">Create</a></li>
    <li class="linkPhone"><a class="contact" [routerLink]="['./contact']" [routerLinkActive]="['actived']">Contact</a></li>
  </ul>
  <span class="clearfix"></span>
</header>

<section id="content">
  <router-outlet></router-outlet>

  <div class="clearfix"></div>
</section>

<footer>
  Portfolio Adrian Medina 2020 &copy;
</footer>