<h2>{{ titulo }}</h2>

<p>Añadir marca</p>
<p>
    <!--Modifica valor de la propiedad-->
    <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()"/>
    <button (click)="getMarca()">Mostrar</button>
    <button (click)="addMarca()">Añadir</button>
    <input type="number" [(ngModel)]="indice" />
    <button (click)="deleteById()">Delete ById</button>
</p>
<b>{{mi_marca}}</b>

<p>Compra las zapatillas de las mejores Marcas</p>
<ul>
    <li *ngFor="let itemMarcas of marcas; let i = index">{{i + ' - ' + itemMarcas}}
        <button (click)="deleteMarca(i)">Delete Marca</button>
    </li>
</ul>

<p>Zapatillas disponiles!</p>
<ul>
    <li [style.padding]="'5px'" *ngFor="let pies of zapatillas">
        <span [ngStyle]="{
            'text-decoration': !pies.stock ? 'line-through' : 'none'
        }">
        <span [ngClass]="{
            'subrayado': pies.marca == 'Adidas'
        }">
            {{pies.marca}}
        </span>
        <span> - </span>
            {{pies.nombre}} -
            <b 
                [class.altoPrecio]="pies.precio >= 80"
                [ngClass]="{
                    'fondoRojo': pies.precio >= 100,
                    'subrayado': pies.marca == 'Adidas'
                }"

            >
                € {{pies.precio}} 
            </b>
        </span>

        <span *ngIf="pies.precio <= 80" 
            [style.background]="pies.precio < 80 ? 'green' : 'transparent'"
            [style.color]="pies.precio < 80 ? 'white' : 'black'"
            [style.border-radius]="pies.precio < 80 ? '20px' : 'none'"
            [style.padding]="pies.precio < 80 ? '5px' : 'none'"            
            >
            ¡En oferta!
        </span>
    </li>
</ul>
<p>El color prevalente de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'blue'">
        El color prevalente de las zapartillas es <span [ngStyle]="{'background': color,
        'color': 'white'
    }">Blue</span>.
    </li>
    <li *ngSwitchCase="'red'">
        El color prevalente de las zapartillas es <span [ngStyle]="{'background': color,
        'color': 'white'
    }">Red</span>.
    </li>
    <li *ngSwitchCase="'green'">
        El color prevalente de las zapartillas es <span [ngStyle]="{'background': color,
        'color': 'white'
    }">Green</span>.
    </li>
    <li *ngSwitchCase="'brown'">
        El color prevalente de las zapartillas es <span [ngStyle]="{
        'background': color,
        'color': 'white'
    }">Brown</span>.
    </li>
</ul>