<p>request works!
    <br/>
    <!--{{fecha | date:'fullDate'}}-->
    <span>
        {{fecha | date:'dd/MM/yy'}}
        - 
        {{fecha | date:'fullDate' | uppercase}}
        <br>
        {{ 'CONVERTED TO LOWERCASE' | lowercase }}
    </span>
</p>
<div>
    <input [(ngModel)]="userId" (keyup.enter)="cargaUsuario()" />
</div>

<div *ngIf="!user">
    Cargando...
</div>

<div *ngIf="user">
    <img src="{{user.data.avatar}}" width="127" />
    <h2>{{user.data.first_name}} {{user.data.last_name}}</h2>
</div>